/.curseclient
/.mixin.out
/avaritiarecipemakeroutput.txt
/crafttweaker.log
/crash-reports
/downloads
/dropt.log
/dumps
/logs
/minecraftinstance.json
/mountains.txt
/profileImage
/resourcepacks
/roots.log
/saves
/shaderpacks
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
config/xaerominimap_entities.json
config/xaerominimap_entities.json
benchmark.md
hei_bookmarks.ini
options.txt
optionsof.txt
/TombManyGraves
/.index
/caches
Notes.txt
thaumicjei_itemstack_aspects.json
tinker_ore_dict_melting_cache.dat
/backups
/screenshots
/visualores
/vintagefix
backups.json
optionsshaders.txt
/biomtweaker/output
config/cherishedworlds/favorites.dat
config/jei/worldSettings.cfg
config/AppliedEnergistics2/items.csv
config/armoryexpansion/traits.txt
config/cherishedworlds/favorites.dat
local/ftbutilities/backups.json
