# Configuration file

general {
    # Whether or not you want to recieve an in-game notification if updates are available for all supported mods.
    B:checkForUpdates=false

    # Whether or not leaves decay fast (more efficient than Quick Leaf Decay).
    B:decayLeavesQuickly=true
}


